<header class="site-header">
  <a class="brand" href="/" aria-label="IndexLayer home">
    <img class="brand-mark" src="/images/brand/indexlayer-mark.png" alt="" width="28" height="28" />
    IndexLayer
  </a>
  <nav class="site-nav" aria-label="Primary navigation">
    <a href="/work/">Work</a>
    <a href="/posts/">Posts</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>
